﻿@page "/claimsPrincipal"

<h3>Claims Principle</h3>


<AuthorizeView>
    <Authorized>
        <h2>
            Hello @context.User.Identity.Name,
            here is the list of your claims:
        </h2>
        <ul>
            @foreach (var claim in context.User.Claims)
            {
                <li><b>@claim.Type</b>: @claim.Value</li>
            }
        </ul>
    </Authorized>
    <NotAuthorized>
        <p>Sorry, you must log in to view your claims</p>
    </NotAuthorized>
</AuthorizeView>








@code {

}
